FORMAT: 1A
HOST: https://api.myperfit.com/v2

# Perfit API

## Group Autenticación

### Login [POST /login]
Existen 3 formas de autenticación:
1. Indicando `user` + `password`. Siendo `user` usuario@cuenta o la dirección de email del usuario.
2. Indicando `user` + `password` + [`account`] . Siendo `user` el email del usuario. Opcionalmente indicar la cuenta en caso de email duplicado. Ver documentación, sección autenticación.
3. Indicando únicamente `apikey`.

Para los casos 1 y 2 puede indicarse también `newPassword` en el caso que sea necesaria un actualización de la contraseña.

+ Request (application/json)

    + Attributes
      + user: diego@perfit.com.ar (string, optional) - email o username@account
      + password: 123 (string, optional)
      + account (string, optional)
      + apikey (string, optional)
      + newPassword (string, optional)

+ Response 201 (application/json)

    Sesión iniciada con éxito.
    
    + Body
    
            {
                "url": "/login",
                "success" : true,
                "data": {
                    "token": "Shjg23Asd4Sdg8fd23F4eg8rF83kgd2s",
                    "tokenExpiration": 3600,
                    "user": "diego",
                    "account": "perfit",
                    "acl": {
                      "perfit": [
                          "lists:list",
                          "contacts:list",
                          "contacts:create",
                          "contacts:delete",
                          "contacts:update"
                      ]
                    }
                }
            }

+ Response 401 (application/json)

    El usuario no existe o la contraseña es inválida. 
    
    + Body
    
            {
                "url": "/login",
                "success" : false,
                  "error": {
                    "status": 401,
                    "type": "UNAUTHORIZED",
                    "userMessage": "The user is not authorized to login"
                  }
            }

+ Response 409 (application/json)

    Si existe más de un usuario asociados al `email` indicado, se dede incluir `account` en el request. Se indica en `data` el array de cuentas a las cuales se tiene acceso.
    
    + Body
    
            {
                "href": "/login",
                "success": false,
                "error": { 
                    "status": 409,
                    "type": "ACCOUNT_REQUIRED",
                    "userMessage": "Se debe indicar la cuenta donde iniciar sesión"
                },
                "data": ["cuenta1", "cuenta2", "cuenta3", ...]
            }

### Logout [POST /logout]
Invalida el token indicado en el header `X-Auth-Token` o en el querystring `token`.

+ Request

    + Headers
    
            X-Auth-Token: access_token

+ Response 200 (application/json)

        {
            "url": "/logout",
            "success" : true
        }



# Group Listas

## Colección [/{account}/lists{?q,offset,limit,sortby,sortdir}]

### Listado y búsqueda [GET]

+ Parameters
  + account: testaccount (string, required) - Nombre de la cuenta
  + offset: 0 (number, optional) - Inicio de paginado
  + limit: 10 (number, optional) - Cantidad de resultados
  + q (optional) - Búsqueda por `name`
  + sortby: name (enum[string], optional) - Tipo de ordenamiento
        + Members
            + `name`
            + `created`
            + `lastMailed`
  + sortdir: asc (enum[string], optional) - Sentido de ordenamiento
        + Members
            + `asc`
            + `desc`
  
+ Response 200 (application/json)

        {
            "url": "/testaccount/lists",
            "success" : true,
            "sort": {
                "sortby": "name",
                "sortdir": "asc"
            },
            "paging": {
                "offset": 0,
                "limit": 10,
                "results": 2,
                "total": 2
            },
            "data": [
                {
                    "id": 1,
                    "name": "Suscriptos a Newsletter",
                    "description": "Listado de contactos suscriptos al news",
                    "created": "2014-05-17 05:30:00+0000",
                    "lastMailed": "2014-05-18 05:30:00+0000",
                    "activeContacts": 120,
                    "totalContacts": 100,
                    "quality": 0.23,
                    "tags": [ ]
                }, 
                {
                    "id": 2,
                    "name": "Suscriptos a Ofertas",
                    "description": "Listado de contactos suscriptos a las ofertas",
                    "created": "2014-05-17 05:30:00+0000",
                    "lastMailed": "2014-05-18 05:30:00+0000",
                    "activeContacts": 221,
                    "totalContacts": 204,
                    "quality": 0.34,
                    "tags": [ ]
                }
            ]
        }

### Crear nueva lista [POST]

+ Parameters

    + account: testaccount (string, required) - Nombre de la cuenta



+ Request (application/x-www-form-urlencoded)

    + Attributes
        + name: Nueva lista (string) - Foo param
    
    + Headers

            X-Auth-Token: access_token
            
+ Response 201 (application/json)

    + Headers

            Location: /testaccount/lists/1
        
    + Body
    
            {
                "url": "/testaccount/lists",
                "success" : true,
                "data": {
                    "id": 1,
                    "name": "Nueva lista",
                    "description": "Listado de contactos suscriptos al news",
                    "created": "2014-05-17 05:30:00+0000",
                    "lastMailed": "2014-05-18 05:30:00+0000",
                    "activeContacts": 120,
                    "totalContacts": 100,
                    "quality": 0.23,
                    "tags": [ ]
                }
            }

## Elemento [/{account}/lists/{id}]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Obtener lista [GET]

+ Response 200 (application/json)

        {
            "url": "/testaccount/lists/1",
            "success" : true,
            "data": {
                "id": 1,
                "name": "Suscriptos a Newsletter",
                "description": "Listado de contactos suscriptos al news",
                "created": "2014-05-17 05:30:00+0000",
                "lastMailed": "2014-05-18 05:30:00+0000",
                "activeContacts": 120,
                "totalContacts": 100,
                "quality": 0.23,
                "tags": [ ]
            }
        }

### Modificar lista [PUT]

+ Request (application/json)

        {
            "description": "Nueva descrpción de la lista"
        }

+ Response 200  (application/json)

        {
            "url": "/testaccount/lists/1",
            "success" : true,
            "data": {
                "description": "Nueva descrpción de la lista"
            } 
        }

### Eliminar lista [DELETE]

+ Response 201  (application/json)

        {
            "url": "/testaccount/lists",
            "success" : true
        }

## Acción [/{account}/lists/{id}/{action}]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Clean [GET /{account}/lists/{id}/clean]
Limpia los contactos de una lista, según el criterio indicado. Pueden indicarse uno o varios criterios en simultáneo. El resultado es la UNION de los criterios, no la intersección.

+ Parameters
  + bounced (boolean, optional) - Limpia contactos marcados como rebotados.
  + complained (boolean, optional) - Limpia contactos marcados con quejas.
  + unsubscribed (boolean, optional) - Limpia contactos marcados como desuscriptos. 
  + inactiveDays (boolean, optional) - Limpia contactos que no demuestran actividad en los últimos N días, o no tienen actividad alguna. 
  + quality (boolean, optional) -  Limpia los contactos con calidad menor o igual a N, 0<=N<=1. 
  + action: remove (enum[string], optional) - Indica que hacer con los contactos que coinciden con el criterio.
        + Members
            + `delete`
            + `remove`


### Split [GET /{account}/lists/{id}/split]
Divide la lista según el criterio indicado. 
+ Parameters
 + numLists: 2 (number, required) - Indica la cantidad de listas resultantes. Los contactos se dividen en partes iguales, ajustando en alguna lista si la cantidad de contactos no es divisible. min=2, max=100


### Duplicate [GET /{account}/lists/{id}/duplicate]
Duplica una lista, creando una nueva.
+ Parameters
 + newListName: Copia de Lista A (string, required) - Nombre de la nueva lista.

### Substract [GET /{account}/lists/{id}/substract]
Saca de una lista los contactos que aparecen en otras listas.

+ Parameters
 + substractListIds: [43,54,12] (array[numbers], required) - Id de las listas para realizar la resta.


### Sample [GET /{account}/lists/{id}/sample]
Toma una muestra random de N contactos de una lista, creando una lista nueva.
+ Parameters
 + newListName: Copia de Lista A (string, required) - Nombre de la nueva lista.
 + sampleSize: 4000 (number, required) - Indica la cantidad de contactos a obtener del muestreo.

### Join [GET /{account}/lists/{id}/join]
Une varias listas creando una nueva.
+ Parameters
 + newListName: Copia de Lista A (string, required) - Nombre de la nueva lista.
 + listIds: [43,54,12] (array[numbers], required) - Id de las listas para realizar la union.


### Delete [GET /{account}/lists/{id}/delete]
Elimina la lista y opcionalmente sus contactos, según la opción indicada
 + deleteContacts: remove (enum[string], optional) - Indica que hacer con los contactos que coinciden con el criterio.
        + Members
            + `NONE`
            + `ALL`
            + `NOT_IN_OTHER_LISTS`
 
# Group Contactos

## Colección [/{account}/contacts{?q,offset,limit,sortby,sortdir}]

### Listado y búsqueda [GET]

+ Parameters
  + account: testaccount (string, required) - Nombre de la cuenta
  + offset: 0 (number, optional) - Inicio de paginado
  + limit: 20 (number, optional) - Cantidad de resultados
  + q (optional) - Búsqueda por `email`
  + state (optional) - Estado de los contactos
        + Members
            + `active`
            + `unsubscribed`
            + `compained`
            + `bounced`
            + `inactive`
  + domain (optional) - Dominio de los contactos.
  + interest (optional) - Se pasa el ID.
  + list (optional) - Se pasa el ID.
  + sortby: email (enum[string], optional) - Tipo de ordenamiento
        + Members
            + `email`
            + `quality`
  + sortdir: asc (enum[string], optional) - Sentido de ordenamiento
        + Members
            + `asc`
            + `desc`

+ Response 200 (application/json)

        {
          "href": "/v2/testaccount/contacts",
          "success": true,
          "paging": {
            "offset": 0,
            "limit": 20,
            "results": 2,
            "total": 2
          },
          "sort": {
            "sortBy": "email",
            "sortDir": "asc"
          },
          "data": [
            {
              "id": 7,
              "email": "prueba@hotmail.com"
            },
            {
              "id": 6,
              "email": "prueba@prueba.com"
            }
          ]
        }


### Crear nuevo contacto [POST]

+ Parameters
 + email:  prueba@prueba.com (string, required) - Email del contacto, no se puede modificar.
 + firstName : prueba (string, optional) - Nombre del contacto.
 + lastName : prueba (string, optional) - Apellido del contacto.
 + gender : M (enum[string], optional) - Sexo del contacto
        + Members
            + `M`
            + `F`
            + ``
 + language : es (enum[string], optional) - Idioma del contacto.
        + Members
            + `de`
            + `en`
            + `es`
            + `fr`
            + `it`
            + `pt`
            + ``
 + preferredFormat : HTML (enum[string], optional) - Formato preferido del contacto.
        + Members
            + `HTML`
            + `TEXT`
 + state : ACTIVE (enum[string], optional) - Estado del contacto.
        + Members
            + `ACTIVE`
            + `BOUNCED`
            + `UNSUBSCRIBED`
            + `COMPLAINED`
 + quality (number, optional) - Calificación del Contacto
 + source : MANUAL (enum[string], optional) - Fuente de ingreso del contacto.
        + Members
            + `MANUAL`
            + `OPTIN_FORM`
            + `IMPORTED_CSV`
            + `IMPORTED_YAHOO`
            + `IMPORTED_GMAIL`
            + `IMPORTED_HOTMAIL`
            + `IMPORTED_EXCEL`
            + `IMPORTED_MELI`
            + `FORWARD`
 + customFields (array, optional) - Campos personalizados      
 + lists (array[list], optional) - 
 + interests (array[insterest], optional) -


## Elemento [/{account}/contacts/{id}]

### Obtener contacto [GET]
Obtiene el contacto indicado.
+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

+ Response 200 (application/json)

        {
          "href": "/v2/testaccount/contacts/1",
          "success": true,
          "data": {
            "id": 1,
            "email": "test@test.com",
            "firstName": "",
            "lastName": "",
            "gender": "",
            "language": "",
            "preferredFormat": "HTML",
            "source": "MANUAL",
            "state": "ACTIVE",
            "quality": 0,
            "lastMailed": "2016-07-06T12:28:08Z",
            "lastAction": "2016-07-13T15:10:02Z",
            "created": "2016-04-16T12:31:18Z",
            "lastModified": "2017-01-25T20:47:34Z",
            "inactivated": null,
            "lists": [
              {
                "id": 1,
                "name": "Lista 1"
              },
              {
                "id": 277,
                "name": "Lista 277"
              }
            ],
            "interests": [
              {
                "id": 3,
                "name": "ropa",
                "subscribed": "2016-05-27T17:44:22Z"
              }
            ],
            "customFields": [
              {
                "id": 10,
                "name": "TELEFONO",
                "format": "TEXT",
                "value": ""
              }
            ]
          }
        }

### Modificar contacto [PUT]
Modifica el contacto indicado.
+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)
    + firstName : prueba (string, optional) - Nombre del contacto.
    + lastName : prueba (string, optional) - Apellido del contacto.
    + gender : M (enum[string], optional) - Sexo del contacto
            + Members
                + `M`
                + `F`
                + ``
    + language : es (enum[string], optional) - Idioma del contacto.
            + Members
                + `de`
                + `en`
                + `es`
                + `fr`
                + `it`
                + `pt`
                + ``
    + preferredFormat : HTML (enum[string], optional) - Formato preferido del contacto.
            + Members
                + `HTML`
                + `TEXT`
    
    + customFields (array, optional) - Campos personalizados      
    + lists (array[list], optional) - 
    + interests (array[insterest], optional) -
    

### Eliminar contacto [DELETE]
Elimina el contacto indicado.
+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)
    
## Acción [/{account}/contacts/{id}/{action}]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Unsubscribe [GET /{account}/contacts/{id}/unsubscribe]
Marca el contacto indicado como desuscripto, esta acción no puede deshacerse.

+ Response 200 (application/json)

        {
         "href": ".../contacts/1/unsubscribe",
         "success": true
        }

# Group Campañas

## Campaigns List [/{account}/campaigns{?q,offset,limit,sortby,sortdir}]

### Listar todas las campañas [GET]

+ Parameters
  + account: testaccount (string, required) - Nombre de la cuenta
  + offset: 0 (number, optional) - Inicio de paginado
  + limit: 10 (number, optional) - Cantidad de resultados
  + q (optional) - Búsqueda por `name`
  + sortby: name (enum[string], optional) - Tipo de ordenamiento
        + Members
            + `name`
            + `created`
            + `lastMailed`
  + sortdir: asc (enum[string], optional) - Sentido de ordenamiento
        + Members
            + `asc`
            + `desc`

+ Response 200 (application/json)

        {
            "url": "/testaccount/campaigns",
            "success" : true,
            "sort": {
                "sortby": "name",
                "sortdir": "asc"
            },
            "paging": {
                "offset": 0,
                "limit": 10,
                "results": 2,
                "total": 2
            },
            "data": [
                {
                    "id": 1,
                    "name": "Suscriptos a Newsletter",
                    "description": "Listado de contactos suscriptos al news",
                    "created": "2014-05-17 05:30:00+0000",
                    "lastMailed": "2014-05-18 05:30:00+0000",
                    "activeContacts": 120,
                    "totalContacts": 100,
                    "quality": 0.23,
                    "tags": [ ]
                }
            ]
        }

### Crear una nueva Campaña [POST]

+ Parameters
    + name: (string, required) - Nombre de la campaña
    + type (optional) - Tipo de campaña (default SIMPLE)
    + description (optional) - Descripcion de campaña
    + launchMode (enum[string], optional) - 

            + Default: `NOW`

            + Members
                + `NOW` - Enviar Campaña Ahora.
                + `SCHEDULED` - Enviar Campaña Programada.
    + launch (optional) - Fecha de envio . para especificar un fecha de launch, launchMode debe ser SCHEDULED
    + tags (optional) - Tags de campaña
    + options (optional) - Opciones de la campaña.
    + include (optional) - Include de la campaña.
    + exclude (optional) - Exlude de la campaña.

+ Response 200 (application/json)

        {
          "href": "/v2/testaccount/campaigns",
          "success": true,
          "data": {
            "id": 595,
            "name": "tests campaign",
            "description": "",
            "tags": [],
            "type": "SIMPLE",
            "state": "DRAFT",
            "launchMode": "NOW",
            "launchDate": null,
            "archived": null,
            "created": "2017-01-30T16:41:27Z",
            "lastModified": "2017-01-30T16:41:27Z",
            "recipients": null,
            "thumbnail": null,
            "metrics": null,
            "options": {
              "SHARE_FACEBOOK": "1",
              "GA_CAMPAIGN_NAME": "tests campaign",
              "GOOGLE_ANALYTICS": "1",
              "SHARE_LINKEDIN": "1",
              "TRACK_LINKS": "1",
              "VIEW_ONLINE": "1",
              "SHARE_TWITTER": "1",
              "SHARE_FORWARD": "1"
            },
            "include": {
              "lists": [],
              "interests": [],
              "campaigns": []
            },
            "exclude": {
              "lists": [],
              "interests": [],
              "campaigns": []
            },
            "contents": []
          }
        }

## Elemento [/{account}/campaign/{id}]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Obtener Campaña [GET]
Obtiene la campaña indicada.

+ Response 200 (application/json)

    {
      "href": "/v2/testaccount/campaigns/1",
      "success": true,
      "data": {
        "id": 594,
        "name": "Test",
        "description": "",
        "tags": [],
        "type": "SIMPLE",
        "state": "DRAFT",
        "launchMode": "NOW",
        "launchDate": null,
        "archived": null,
        "created": "2017-01-26T21:53:13Z",
        "lastModified": "2017-01-26T21:53:13Z",
        "recipients": 0,
        "thumbnail": "https://thmb.myperfit.com/3835/_cpg/1/thumb-1",
        "metrics": null,
        "options": {
          "SHARE_FACEBOOK": "1",
          "GA_CAMPAIGN_NAME": "Test",
          "GOOGLE_ANALYTICS": "0",
          "SHARE_LINKEDIN": "1",
          "TRACK_LINKS": "0",
          "USE_FOOTER": "0",
          "VIEW_ONLINE": "1",
          "SHARE_TWITTER": "1",
          "SHARE_FORWARD": "1",
          "USE_HEADER": "0"
        },
        "include": {
          "campaigns": [
            {
              "id": 2,
              "action": "SENT"
            }
          ]
        },
        "exclude": {
          "campaigns": [
            {
              "id": 2,
              "action": "OPENED"
            }
          ]
        },
        "contents": [
          {
            "id": 507,
            "type": "HTML",
            "subject": "Prueba 1234",
            "from": "user@email.com",
            "fromName": "user",
            "replyTo": "user@email.com",
            "replyToName": "user",
            "unsubscribeText": "prueba text",
            "thumbnail": "https://thmb.myperfit.com/3835/_cpg/1/thumb-1"
          }
        ]
      }
    }


### Modificar Campaña [PUT]   
Modifica la info de la campaña indicada.  En estado draft puede modificarse todo. En cualquier otro estado sólo puede modificarse los tags.

+ Parameters
    + name: (string, optional) - Nombre de la campaña
    + description (optional) - Descripcion de campaña
    + launchMode (enum[string], optional) - 
    
            + Default: `NOW`

            + Members
                + `NOW` - Enviar Campaña Ahora.
                + `SCHEDULED` - Enviar Campaña Programada.
    + launch (optional) - Fecha de envio . para especificar un fecha de launch, launchMode debe ser SCHEDULED
    + tags (optional) - Tags de campaña
    + options (optional) - Opciones de la campaña.
    + include (optional) - Include de la campaña.
    + exclude (optional) - Exlude de la campaña.
    
### Eliminar Campaña [DELETE]   
Elimina la campañas indicada.
Sólo pueden eliminarse campañas en estado DRAFT.

## Acción [/{account}/contacts/{id}/{action}]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Validate [GET /{account}/campaign/{id}/validate]
Verifica que la campaña cumpla con todos los requisitos para ser enviada. Devuelve los resultados de cada validación. Sólo las campañas en estado DRAFT se pueden validar.

### Launch [GET /{account}/campaign/{id}/launch]

Marca la campañas indicada como pendiente de envío. Sólo aplica para campañas en estado DRAFT
### Stop [GET /{account}/campaign/{id}/stop]
Detiene la campaña indicada, volviéndola a estado DRAFT. La campaña debía estar en estado PENDING_APPROVAL o SCHEDULED

### Duplicate [GET /{account}/campaign/{id}/duplicate]
Detiene la campaña indicada, volviéndola a estado DRAFT. La campaña debía estar en estado PENDING_APPROVAL o SCHEDULED
+ Parameters
    + name:  (string, required) - Nombre de la nueva Campaña.

### Archive [GET /{account}/campaign/{id}/archive]
Archiva la campaña indicada. Sólo pueden archivarse las campañas en estado SENT y CANCELLED.
### Unarchive [GET /{account}/campaign/{id}/unarchive]
Desarchiva la campaña indicada.

### Enviar Test [GET /{account}/campaign/{id}/contents/{idContent}/sendtest]
Envía un mail de prueba del contenido especificado. Se indican los emails a usar para probar. Se puede indicar hasta 10 emails.

+ Request (application/json)

        {
            "emails" : [ “test1@example.com”, “test2@example.com” ]
        }

## Contenido [/{account}/contacts/{id}/contents]

+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Crear Contenido [POST /{account}/campaign/{id}/contents]

Crea un nuevo contenido para la campaña especificada. 

+ Parameters
    + type (enum[string], optional) - 
            + Default: `HTML`
            + Members
                + `HTML` - Enviar Campaña Ahora.
                + `EDDIE` - Enviar Campaña Programada.
    + subject: (string, optional) -
    + from: (string, optional) - 
    + fromName: (string, optional) - 
    + replyTo: (string, optional) - 
    + replyToAddress: (string, optional) - 
    + unsubscribeText: (string, optional) -

### Obtener Contenido [GET /{account}/campaign/{id}/contents/{idContent}]

Muestra la informacion del contenido indicado.

+ Response 200 (application/json)

        { 
          "id": 23,
          "type": "HTML",
          "subject": "",
          "from": "",
          "fromName": "",
          "replyTo": "",
          "replyToName": "",
          "unsubscribeTest": "...",
          "thumbnail: "..."
        }

### Modificar Contenido [PUT /{account}/campaign/{id}/contents/{idContent}]
Modifica la info del contenido indicado. Sólo pueden modificarse contenidos de campañas DRAFT

+ Parameters
    + subject: (string, optional) -
    + from: (string, optional) - 
    + fromName: (string, optional) - 
    + replyTo: (string, optional) - 
    + replyToAddress: (string, optional) - 
    + unsubscribeText: (string, optional) -

### Eliminar Contenido [DELETE /{account}/campaign/{id}/contents/{idContent}] 

Elimina el contenido especificado. Sólo pueden eliminarse contenidos de campañas DRAFT.

### Obtener Cuerpo del Contenido [GET /{account}/campaign/{id}/contents/{idContent}.(type)]
Muestra el contenido del tipo indicado. Puede ser html, txt o json (en caso de ser tipo eddie)

### Modificar Cuerpo del Contenido [PUT /{account}/campaign/{id}/contents/{idContent}.(type)]
Modifica el contenido del tipo indicado. Puede ser html, txt o json (en caso de ser tipo eddie)


# Group Intereses

## Intereses List [/{account}/interests]

### Listar todas los Intereses [GET]
+ Parameters
  + account: testaccount (string, required) - Nombre de la cuenta
  + offset: 0 (number, optional) - Inicio de paginado
  + limit: 10 (number, optional) - Cantidad de resultados
  + q (optional) - Búsqueda por `name`
  + sortby: name (enum[string], optional) - Tipo de ordenamiento
        + Members
            + `name`
            + `created`
            + `lastMailed`
  + sortdir: asc (enum[string], optional) - Sentido de ordenamiento
        + Members
            + `asc`
            + `desc`

### Crear un nuevo Interes [POST]
+ Parameters
  + account: testaccount (string, required) - Nombre de la cuenta.
  + name:  (string, required) - Nombre del interes.
  + description:  (string, optional) - Descripcion.
  + expirationDays:  (string, optional) - Dias de expiracion.


## Elemento
+ Parameters
    + account: testaccount (string, required)
    + id: 1 (number, required)

### Obtener un Interes [POST /{account}/interests/{id}]


+ Response 200 (application/json)
    
    {
      "href": ".../interests/12",
      "success": true,
      "data":{
            "id": 12,
            "name": "Interes A",
            "description": "",
            "expirationDays": 0
        }
    }



### Modificar un Interes [PUT /{account}/interests/{id}]

Modifica el interés indicado. 

+ Parameters
  + name:  (string, required) - Nombre del interes.
  + description:  (string, optional) - Descripcion.
  + expirationDays:  (string, optional) - Dias de expiracion.

### Eliminar un Interes [DELETE /{account}/interests/{id}]
Elimina el interes.